.btnContainer {
  margin-top: 50px;
    height: 40px;
    width: 160px;
}

.textArea {
  max-width: 690px;
  margin-top: 10px;
}

.selectContainer {
  margin-top: 10px;
  width: 256px;
}

.memberTitle {
  margin-top: 38px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
}

.member {
  margin-top: 40px;
  color: #262626;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
