.btn {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  color: #595959;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px 16px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
}

.btn-active {
  border: 1px solid #389e0d;
}

.hr {
  border: 1px solid #d9d9d9;
}

.container {
  padding-top: 20px;
}

.text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.show-more {
    text-decoration-line: underline;
    color: #389E0D;
    margin-top: 48px;
    margin-bottom: 114px;
    cursor: pointer;
}