.wrapper {
  padding-top: 32px;
  width: 1200px;
}

.btn {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  color: #595959;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px 16px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
}

.otherFilter {
  padding-left: 5px;
}

.btnActive {
  border: 1px solid #389e0d;
}

.hr {
  border: 1px solid #d9d9d9;
}

.container {
  padding-top: 20px;
}

.text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.arrow{
  padding-left: 11px;
}

.rotate {
  padding-right: 11px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}