.font-underline {
  text-decoration-line: underline;
  color: #389e0d;
  font-weight: normal;
  line-height: 24px;
  cursor: pointer;
}

.cost {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
}

.card-font {
  font-size: 14px;
  color: #8c8c8c;
  line-height: 22px;
  padding-left: 6px;
}

.font-rate {
  color: #389e0d;
}

.button-order {
    background: #389E0D;
    border-radius: 4px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 16px;
}