.fontUnderline {
  text-decoration-line: underline;
  color: #389e0d;
  font-weight: normal;
  line-height: 24px;
  cursor: pointer;
}

.cost {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
}

.cardFont {
  font-size: 14px;
  color: #8c8c8c;
  line-height: 22px;
  padding-left: 6px;
}

.fontRate {
  color: #389e0d;
}

.buttonOrder {
    background: #389E0D;
    border-radius: 4px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 16px;
}

.showMore {
  text-decoration-line: underline;
  color: #389E0D;
  margin-top: 48px;
  margin-bottom: 114px;
  cursor: pointer;
}

.popularText {
  z-index: 10;
  letter-spacing: 0.02em;
  color: #000000;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 20px;
  padding-top: 40px;
  letter-spacing: 0.02em;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.marginImage {
  margin-left: 24px;
  margin-right: 24px;
}

.marginContainer {
  margin-left: 22px;
  margin-right: 22px;
}

.leftContainer {
  width: 408px;
  padding-right: 24px;
}

.rightContainer {
  width: 794px;
}

.cursorPointer {
  cursor: pointer;
}

.hr {
  display: flex;
  margin: 0px;
  border: 1px solid #E8E8E8;
}

.customLabel {
  color: #BFBFBF;
  font-weight: normal;
  font-size: 14px;
  margin-left: -10px;
}
.imageContainer {
  padding-top: 70px;
  background: #262626;
  padding-bottom: 40px;
}

.fontOrder {
  font-weight: normal;
  color: #8C8C8C;
  font-size: 20px;
  line-height: 28px;
}
.clearModal {
  color: #262626;
  text-decoration-line: underline;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.btnModal {
  background: #389E0D;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  padding: 5px 16px;
  border-radius: 4px;
  width: 120px;
  height: 32px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.footerModal {
  display: flex;
  justify-content: space-between;
  padding: 17px 20px;
}
@media screen and (max-width: 850px) {
    .popularText{
        text-align: center;
    }
}