.poptext {
    letter-spacing: 0.02em;
    color: #000000;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    padding-top: 40px;
}

.btn {
    background: #1890FF;
    border-radius: 4px;
    width: 240px;
    height: 32px;
    margin-top: 20px;
    margin-bottom: 80px;
    cursor: pointer;
}

.text {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 12px;
}

.imgContainer {
    position: relative;
    display: flex;
    flex-direction: row;

}

.image {
    padding-left: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.ellipseLeft {
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 0px; 
}

.ellipseRight {
    position: absolute;
    z-index: 0;
    right: 0px;
    top: 0px; 
}

@media screen and (max-width: 850px) {
    .btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgContainer {
      flex-direction: column;     
    }
}