.commonText {
    color: #F5F5F5;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}
.commonInteres {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 5px;
    padding-top: 5px;
}
