.socialContainer {
    position: relative;
}
.socialLike {
    position: absolute;
    top: 13px;
    left: 30px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 150px;
    cursor: pointer;
}
.socialShare {
    composes: socialLike;
    left: 210px;
}

.shareLike{
    padding: 10px 1px 10px 18px;
}
.shareLikeText{
    color: #595959;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 16px 5px 15px;
}
