.container {
    background: #FFFFFF;
}

.imageContainer {
    padding-top: 70px;
    background: #262626;
    padding-bottom: 40px;
}

.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cell {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 
}

.socialContainer {
    position: relative;
}
.socialLike {
    position: absolute;
    top: 13px;
    left: 30px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 150px;
    cursor: pointer;
}
.socialShare {
    composes: socialLike;
    left: 210px;
}

.shareLike{
    padding: 10px 1px 10px 18px;
}
.shareLikeText{
    color: #595959;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 16px 5px 15px;
}

.commonText {
    color: #F5F5F5;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.commonInteres {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.font {
    font-weight: normal;
    color: #8C8C8C;
    font-size: 20px;
    line-height: 28px;
}

.fontInclud {
    color: #595959;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.fontRule {
    text-decoration-line: underline;
    color: #389E0D;
}

.hr {
    margin-top: 61px;
    border: 1px solid #D9D9D9;
}

.btnOrder {
    composes: buttonOrder from '../../core/theme/commonStyle.module.css';
    width: 100px;
    height: 32px;
    text-align: center;
}

.footerDay {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}
.footerText{
    composes: footerDay;
    color: #262626;
}

.footerTextContainer {
    text-align: justify;
}

.footerContainer {
    width: 700px;
    padding-right: 94px;
    display: flex;
    justify-content: flex-end;
}

.centerContainer {
    align-self: center;
}

.paddingInclud{
    padding-bottom: 10px;
    padding-top: 10px;
}

.paddingLeftContainer{
    padding-top: 35px;
}