.container {
    background: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.image-container {
    display: inline-block;
    padding-top: 70px;
    height: 600px;
    width: 100%;
    background: #262626;
}

.img {
    vertical-align: top;
}

.social-container {
    position: relative;
}
.social-like {
    position: absolute;
    top: 13px;
    left: 30px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 150px;
    cursor: pointer;
}
.social-share {
    composes: social-like;
    left: 210px;
}

.share-like{
    padding: 10px 1px 10px 18px;
}
.share-like-text{
    color: #595959;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 16px 5px 15px;
}

.common-text {
    color: #F5F5F5;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.common-interes {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 5px;
}

.font {
    font-weight: normal;
    color: #8C8C8C;
    font-size: 20px;
    line-height: 28px;
}

.forn-includ {
    color: #595959;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.font-rule {
    text-decoration-line: underline;
    color: #389E0D;
}

.hr {
    margin-top: 61px;
    border: 1px solid #D9D9D9;
}

.btn-order {
    composes: button-order from '../../core/theme/commonStyle.module.css';
    width: 100px;
    height: 32px;
}

.containerCenter {
    margin-left: auto;
    margin-right: auto;
}