.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .modalMain {
    border-radius: 10px;
    position:fixed;
    background: white;
    max-width: 600px;
    min-height: 400px;
    min-width: 375px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .displayBlock {
    display: block;
  }
  
  .displayNone {
    display: none;
  }

  .hr {
    margin-top: 26px;
    border: 1px solid #E8E8E8;
  }

  .close {
    padding: 25px 0px 0px 25px;
    margin-right: auto;
    cursor: pointer;
}

  .title{
    margin-right: auto;
    align-self: flex-end;
    color: #262626;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
  }

  .containter {
    display: flex;
  }

  .flexContainerLangval {
    padding: 0px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .flexItemLangval {
    border: 1px solid #B7EB8F;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px 35px 5px 5px;
    margin: 20px;
  }

  .flexItemLangvalUnactive{
    composes: flexItemLangval;
    border: none;
  }
  
.titleItemModal {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.textItemModal {
  color: #8C8C8C;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

@media(max-width: 720px){
  .flexContainerLangval{
    display: flex;
    flex-direction: column;
  }
  .flexItemLangval + .flexItemLangval{
    margin-top: 0px;
  }
  .hr {
    display: none;
  }
  .modalMain{
    height: 100%;
    width: 101%;
    border-radius: 0;
  }
}