.font-title {
  font-size: 24px;
  line-height: 32px;
  color: #262626;
}

.font-container {
  padding-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
}

.imageCarousel{
  height: 262px;
  width: 383px;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 264px;
  width: 1200px;
  background: #ffffff;
  border: 1px solid #389e0d;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 26px;
}

.imgcont {
  position: relative;
  flex: 1;
  width: 383px;
}

.palce {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  display: inline-block;
}

.city {
  /* display: inline-flex; */
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  padding: 4px 12px 4px 8px;
}

.image{
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.first-container {
  /* background-image: url("../../resources/swim.png"); */
  height: 262;
  max-width: 383px;
}

.second-container {
  margin-top: 24px;
  padding-bottom: 24px;
  max-width: 560px;
  display: flex;
  flex-direction: column;
}

.date {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 9px;
  padding-right: 32px;
}

.rate-container {
  margin-top: 16px;
}

.third-container {
  padding-top: 32px;
  padding-right: 24px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.order-container {
  padding-bottom: 24px;
  margin-top: auto;
}

.order {
  background: #389e0d;
  border-radius: 4px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 12px;
  cursor: pointer;
}

.cost {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
}

.showmore {
  text-decoration-line: underline;
  font-weight: normal;
  font-size: 14px;
  color: #389E0D;
  cursor: pointer;
}