.fontTitle {
  font-size: 24px;
  line-height: 32px;
  color: #262626;
}

.fontContainer {
  padding-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
}

.imageCarousel{
  height: 262px;
  width: 383px;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 264px;
  width: 1200px;
  background: #FFFFFF;
  border: 1px solid #389e0d;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 26px;
}

.imgcont {
  position: relative;
  flex: 1;
  width: 383px;
}

.placeContainer {
  position: absolute; 
  top: 12px; 
  left: 12px;
}

.palce {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  display: inline-block;
}

.city {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  padding: 4px 12px 4px 8px;
}

.image{
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.firstContainer {
  height: 262;
  max-width: 383px;
}

.secondContainer {
  margin-top: 24px;
  padding-bottom: 24px;
  width: 560px;
  display: flex;
  flex-direction: column;
}

.date {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 9px;
  padding-right: 32px;
}

.rateContainer {
  margin-top: auto;
}

.thirdContainer {
  padding-top: 32px;
  padding-right: 24px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.orderContainer {
  padding-bottom: 24px;
  margin-top: auto;
}

.order {
  background: #389e0d;
  border-radius: 4px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 12px;
  cursor: pointer;
}

.cost {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
}

.showmore {
  text-decoration-line: underline;
  font-weight: normal;
  font-size: 14px;
  color: #389E0D;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 0;
  z-index: 20;
  font-size: x-large;
  padding-right: 5px;
}

.leftArrow {
  composes: rightArrow;
  right: unset;
  left: 0;
  transform: rotate(180deg);
}

.widthFontTitle {
  width: 100%;
}

.cardFontPAdding {
  padding-right: 14px;
}