.fontTitle {
  font-size: 24px;
  line-height: 32px;
  color: #262626;
}

.rateFont {
  white-space: nowrap;
}

.fontContainer {
  padding-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
}

.fontInline {
  compose: fontContainer;
  white-space: nowrap;
}

.imageCarousel{
  max-height: 262px;
  max-width: 383px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  min-width: 375px;
  background: #FFFFFF;
  border: 1px solid #389e0d;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 26px;
}

.popContainer {
  margin-left: 22px;
  margin-right: 22px;
}

.imgcont {
  position: relative;
  flex: 1;
}

.placeContainer {
  position: absolute; 
  top: 12px; 
  left: 12px;
}

.palce {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  display: inline-block;
}

.city {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  padding: 4px 12px 4px 8px;
}

.image{
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.corusel {
  max-width: 383px;
}

.firstContainer {
  height: 262;
  max-width: 383px;
  margin-right: 25px;
}

@media screen and (max-width: 1152px) { 
  .corusel {
    max-width: 350px;
  }
  .firstContainer{
    max-width: 300px;
  }
  .imageCarousel{
    max-width: 350px;
  }
}

.secondContainer {
  padding-bottom: 24px;
  padding-top: 24px;
  margin-right: 50px;
  max-width: 540px;
  display: flex;
  flex-direction: column;
}
.thirdContainer {
  padding-top: 32px;
  padding-right: 24px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.date {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 9px;
  padding-right: 32px;
}

.rateContainer {
  margin-top: auto;
  padding-bottom: 10px;
}

.orderContainer {
  padding-bottom: 24px;
  margin-top: auto;
}

.order {
  background: #389e0d;
  border-radius: 4px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 12px;
  cursor: pointer;
}

.cost {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
}

.showmore {
  text-decoration-line: underline;
  font-weight: normal;
  font-size: 14px;
  color: #389E0D;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 0;
  z-index: 20;
  font-size: x-large;
  padding-right: 5px;
}

.leftArrow {
  composes: rightArrow;
  right: unset;
  left: 0;
  transform: rotate(180deg);
}

.widthFontTitle {
  width: 100%;
}

.cardFontPAdding {
  padding-right: 14px;
}

.textTrunc {
  display: block;
}

@media screen and (max-width: 800px){
  .corusel {
    max-width: 300px;
  }
  .imageCarousel{
    max-width: 300px;
  }
}

@media screen and (max-width: 900px){
  .secondContainer{
    padding-top: 5px;
    margin-right: 20px;
    padding-bottom: 0px;
  }
  .thirdContainer {
    padding-top: 10px;
    padding-right: 10px;
  }
  .rateContainer {
    margin-top: 10px;
  }
  .firstContainer {
    margin-right: 10px;
    max-width: 250px;
  }
  .orderContainer {
    padding-bottom: 5px;
  }
  .imageCarousel{
    max-height: 210px;
  }
  .corusel {
    max-height: 210px;
  }
  .fontTitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px){
  .container{
    flex-direction: column;
  }
  .thirdContainer {
    width: 375px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin-left: 11px;
  }
  .secondContainer{
    margin-left: 11px;
  }
  .firstContainer{
    margin: 0px;
    max-width: 386px;
  }
  .corusel{
    max-width: 386px;
  }
  .imageCarousel{
    max-width: 386px;
    /* width: 150px; */
  }

  .textTrunc{
    display: none;
  }
  .fontInline{
    margin-right: 13px;
  }
  .fontContainer{
    white-space: nowrap;
    display: block;
    margin-right: 13px;
  }

  .cardFontPAdding ~ .cardFontPAdding{
    padding-right: 0px;
  }
  .orderContainer{
    width: 386px;
    display: flex;
    background-color: #F6FFED;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: 11px;
    margin-left: -11px;
  }
  .costSmall {
    padding-left: 11px;
  }
  .order{
    margin: 11px 11px 11px 0px;
    width: 176px;
    height: 40px;
  }
}
