.form-group {
  display: block;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
  
}

.form-group label {
  position: relative;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 16px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 5px;
  height: 10px;
  border: 0.3px solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.form-group input:checked + label::before {
  background: #389e0d;
  border: 1px solid #389e0d;
  box-sizing: border-box;
  border-radius: 2px;
}
