.container {
    overflow: hidden;
}
.dateContainer{
    width: 330px;
    padding-top: 21px;
    padding-bottom: 21px;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);   
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);   
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);    
}

.customDate{
    padding-bottom: 8px;
    padding-right: 22px;
    color: #262626;
    font-weight: 600;
    font-size: 14px;
}

.imageDate {
    padding-left: 17px;
}

.date{
    padding-left: 17px;
}