.container {
  width: 600px;
  background: #ffffff;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.filterContainer {
  padding: 40px 60px 0px 60px;
}

.descript {
  width: 337px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
  padding-bottom: 20px;
}

.hr {
    margin-top: 40px;
    border: 1px solid #E8E8E8;
}



.footerContainer {
  margin-top: 200px;
}