.container {
  width: 600px;
  background: #ffffff;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.filterContainer {
  padding: 40px 60px 0px 60px;
}

.descript {
  width: 337px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
  padding-bottom: 20px;
}

.hr {
    margin-top: 40px;
    border: 1px solid #E8E8E8;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 17px 20px;
}

.clear {
  color: #262626;
  text-decoration-line: underline;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.btn {
  background: #389E0D;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  padding: 5px 16px;
  border-radius: 4px;
  width: 120px;
  height: 32px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.footerContainer {
  margin-top: 200px;
}