/* autocomplited */
.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
  text-align: right;
}

.ant-input-affix-wrapper .ant-input:not(:first-child) {
  /* padding-left: 50px; */
  box-shadow: none;
  border: none;
}

.ant-input-affix-wrapper:hover .ant-input:not(ant-input-disabled) {
  box-shadow: none;
}

.ant-select-auto-complete .ant-select .ant-input:focus .ant-input:hover {
  box-shadow: none;
}

.ant-input-affix-wrapper .ant-input-prefix {
  /* left: 0px; */
}
.ant-input-affix-wrapper .ant-input-suffix{
  right: 0px;
}


/*select */
.ant-select-selection--multiple .ant-select-selection__choice:first-child {
  margin-left: 0px;
  color: #BFBFBF;
  font-weight: normal;
  background-color: white;
  padding-left: 0px;
  border: none;
}

.ant-select-selection--multiple .ant-select-selection__choice {
  background: #F6FFED;
  border: 1px solid #B7EB8F;
  box-sizing: border-box;
  border-radius: 4px;
}
.ant-select-selection--multiple .ant-select-selection__choice:not(:first-child){
  color: #52C41A;
}
.ant-select-selection--multiple .ant-select-selection__choice__remove{
  color: #52C41A;
}

.ant-select-selection__choice:first-child{
  padding-right: 0px;
}

.ant-select-selection__choice:first-child .ant-select-selection__choice__remove {
  display: none;
}

.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected .ant-select-selected-icon,
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected:hover .ant-select-selected-icon{
  display: none;
}


.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item .ant-select-selected-icon {
  display: none;
}
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item {
  padding-right: 15px;
}


.ant-select-selection {
  border: none;
}

.ant-select-selection--multiple .ant-select-selection__rendered {
  left: 0;
  margin: 0;
}


.ant-input{
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active,
.ant-select-open .ant-select-selection {
  border-color: #d9d9d9;
  box-shadow: none;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 4px;
}

/* Modal */
.ant-modal-close-x{
  display: none;
}
.ant-modal-body{
  padding: 0px;
}

/* Calendar */

.DayPicker_weekHeader_li {
  font-size: 12px;
  color: #BFBFBF;
}

.DayPicker_weekHeader_li::first-letter {
  visibility: visible;
  text-transform: capitalize;
}

.CalendarMonth_caption::first-letter{
  visibility: visible;
  text-transform: capitalize;
}

.CalendarDay__default{
  border: none !important;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
  background-color: #D9F7BE !important;
  color: #595959 !important;
}

.CalendarDay__selected_span{
  background-color: #F6FFED !important;
  color: #595959 !important;
}

.CalendarDay__hovered_span, .CalendarDay__hovered_span:hover{
  background-color: #F6FFED !important;
  color: #595959 !important;
}

.DayPickerNavigation_button__default {
  border: none !important;
}

/* rate */
.ant-rate-star.ant-rate-star-full i svg {
  width: 9px;
  height: 9px;
  /* margin: -3.5px; */
}
.ant-rate-star.ant-rate-star-zero i svg {
  width: 9px;
  height: 9px;
  /* margin: -3.5px; */
}

.ant-rate-star.ant-rate-star-half.ant-rate-star-active i svg {
  width: 9px;
  height: 9px;
  /* margin: -3.5px; */
}

/* caorusel */
.ant-carousel .slick-dots li.slick-active button {
  height: 8px;
  border-radius: 30px;
  width: 8px;
}
.ant-carousel .slick-dots li button {
  height: 8px;
  border-radius: 30px;
  width: 8px;
}

/* menu */

.ant-drawer-body{
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item, .ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu{
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal{
  border-bottom: none;
}
.ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right, .ant-menu-root.ant-menu-inline {
    width: 100%;
}
.ant-menu {
  background: transparent;
}
.ant-menu-horizontal{
  border-bottom: none;
}
.ant-btn-primary{
  border-color: transparent;
  box-shadow: none;
}
.ant-btn{
  border-color: transparent;
}
.ant-menu-horizontal > .ant-menu-item > a:hover{
  color: #262626;
}
.ant-menu-horizontal > .ant-menu-item-selected > a{
  color: #262626;
}
