.container {
    width: 330px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px 8px 0px 0px;
    padding-top: 33px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}
.felx-container1 {
    min-width: 0;
    display: flex;
    flex-direction: column;
    padding-top: 5px;   
    z-index: 50;
}
  
.felx-container2 {
    flex: 1;
}

.location-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column; 
    padding-bottom: 7px;
}

.wrapper {
    position:relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr {
    display: flex;
    margin: 0px;
    border: 1px solid #E8E8E8;
}

.image {
    padding-left: 17px;
    padding-right: 17px;
}

.imageDate {
    padding-left: 17px;
}

.date{
    padding-left: 17px;
}

.line {
    margin-top: auto;
    margin-bottom: auto;
    transform: rotate( 90deg);
    border-top: 1px dashed #BFBFBF
}


.custom-date{
    padding-bottom: 8px;
    padding-right: 22px;
    color: #262626;
    font-weight: 600;
    font-size: 14px;
}

.date-container{
    width: 330px;
    padding-top: 21px;
    padding-bottom: 21px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.custom-label {
    color: #BFBFBF;
    font-weight: normal;
    font-size: 14px;
    margin-left: -10px;
}

.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #000000;
    padding-bottom: 32px;
}

.parachute {
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: 50;
}

.ellipse {
    position: absolute;
    z-index: 0;
    left: 0px;
    bottom: 0px;
}

.ellipse1 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}