.container {
    min-height: 200px;
    width: 330px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px 8px 0px 0px;
    padding-top: 33px;
    display: flex;
}
.felx-container1 {
    min-width: 0;
}
  
.felx-container2 {
    flex: 1;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;   
}

.hr {
    display: flex;
    margin: 0px;
    border: 1px solid #E8E8E8;
}

.image {
    padding-left: 17px;
    padding-right: 17px;
}

.line {
    margin-top: 24px;
    margin-bottom: 22px;
    margin-left: 2px;
    transform: rotate( 90deg);
    border-top: 1px dashed #BFBFBF
}

.date {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
}

.custom-date{
    padding-right: 10px;
    color: #262626;
    font-weight: 600;
    font-size: 14px;
}

.custom-label {
    color: #BFBFBF;
    font-weight: normal;
    font-size: 14px;
}

.range{
    padding-top: 33px;
    padding-bottom: 8px;
}

