.ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  padding-top: 37px;
  padding-right: 120px;
}

.logo {
  position: absolute;
  top: 37px;
  left: 26px;
  text-decoration: none;
  color: black;
  /* display: inline-block; */
  /* padding: 37px 40px 30px 26px; */
}

.text {
  color: black;
  margin-left: 37px;
  text-decoration: none;
}

.textBold {
  composes: text;
  font-weight: 600;
  cursor: pointer;
}

.search {
  /* display: flex; */
  margin-right: auto;
}

.centerContainer {
  margin-left: auto;
  margin-right: auto;
}