.ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  padding-top: 37px;
  padding-right: 120px;
}

.logo {
  position: absolute;
  top: 37px;
  left: 26px;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.text {
  color: black;
  margin-right: 37px;
  text-decoration: none;
}

.textBold {
  composes: text;
  font-weight: 600;
  cursor: pointer;
}

.search {
  margin-right: auto;
}

.centerContainer {
  margin-left: auto;
  margin-right: auto;
}

.container{
  width: 384px;
  right: 35px
}
