.wrapper {
    /* height: 40px; */
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: left;
    bottom: 0;
    /* width: 100%; */
    position: relative;
}

.btn {
    border: 1px solid #52C41A;
    padding: 1px 8px;
    position: absolute;
    left: 120px;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: normal;
    width: 55px;
    height: 24px;
    font-size: 14px;
    line-height: 22px;
    /* display: flex; */
    align-self: center;
    color: #52C41A;
    cursor: pointer;
}

.text{
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #8C8C8C;
    padding: 10px;
}

@media(max-width: 960px){ 
    .btn {
        left: 30px;
    }
}

@media(max-width: 640px){ 
    .btn{
        position: static;        
        align-self: start;
        margin-left: 20px;
    }
    .text{
        margin-left: 10px;
    }
    .wrapper{
        flex-direction: column-reverse;
        padding-bottom: 18px;
    }
}