@import '~antd/dist/antd.css';
@import './resources/fonts/stylesheet.css';

body {
  margin: 0;
  font-family: SF Pro Display;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
  background-image: url("./resources/parachute.svg"), url("./resources/ellipse.svg"), url("./resources/ellipse1.svg");
  background-repeat: no-repeat;
  background-position: left center, left bottom, right bottom;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

