.our-doing {
    color: #262626;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}


.btn-call {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    width: 200px;
    height: 32px;
    padding: 5px 16px;
    margin-top: 10px;
}

/* .leftWrap {
    width: "408px";
    vertical-align: "top";
}

.rihtWrap {
    width: "794px";
} */